
    <div class="container">
    <form class="js-filter-form filter-form">
            <div class="div-input" >
                <p class="filter-title">Search</p>
            <div class="filter-container-input">
                <input class="js-input-filter filter-input" type="text" placeholder="Enter Text">
                <div >
                    <svg class="filter-icon-input" width="24" height="24">
                        <use href="/src/img/icon-sprite.svg#icon-search" class="filters-use-icon" ></use>
                    </svg>
                </div>
            </div>
        </div>
            <div>
                <p class="filter-title">Time</p>
                <select class="js-time-select filter-time-select filter-select"></select>
            </div>
            <div>
                <p class="filter-title">Area</p>
                <select class="js-area-select filter-area-select filter-select"></select>
            </div>
            <div>
                <p class="filter-title">Ingredients</p>
                <select class="js-ingredients-select filter-Ingredients-select filter-select"></select>
            </div>
        </form>
    </div>