<section class="section-hero section">
  <div class="container">
    <!-- hero main -->
    <div class="hero-main-text">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-title-span">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient
        <br>Options and Step-by-Step Video Guides</br>
      </p>
      <button class="hero-btn" type="button">Order now</button>
    </div>

    <!-- hero slider -->
    <div class="hero-slider"></div>
  </div>
</section>
