<section class="section-hero section">
  <div class="hero-container">
    <!-- hero main -->
    <div class="hero-main-text">
      <h1 class="hero-title">
        Learn to Cook
        <span class="hero-title-span">Tasty Treats'</span> Customizable
        Masterclass
      </h1>
      <p class="hero-text">
        TastyTreats - Customize Your Meal with Ingredient
        <br>Options and Step-by-Step Video Guides</br>
      </p>
      <button class="hero-btn js-hero-btn" type="button">Order now</button>
    </div>

    <!-- hero slider -->
    <div class="hero-slider">
      <div class="swiper my-swiper">
  <!-- Additional required wrapper -->
  <ul class="swiper-wrapper wrap">
    <!-- Slides -->
  
  </ul>
  <!-- If we need pagination -->
 

 <div class=" swiper-pagination custom-pagination"></div>
</div>

    </div>
  </div>
</section>
