<div class="recipe-backdrop is-hidden-recipe-backdrop">
  <div class="recipe-modal">
    <button type="button" class="modal-close-recipe-btn">
      <svg class="modal-close-icon" width="20" height="20">
        <use href="./img/icon-sprite.svg#icon-x-close"></use>
      </svg>
    </button>
    <div class="card-modal-see">
      <div class="recipe-info"></div>
      <div class="block-button">
        <button class="add-btn" type="button">
          Add to favorite
        </button>
          <!-- <button class="remove-btn" type="button">
            Delete to favorite</button
          > -->
          <button
            class="btn-rating js-add-rating r-modal-rating-btn"
            type="button"
          >
            Give a rating
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
