<div class="pagination-container container">
  <div class="left-btns-pag">
    <button class="first-btn-pag">
      <div class="pagination-icon">
        <svg class="icon-left-one" width="20" height="20">
          <use href="../img/icon-sprite.svg#icon-arrow-left"></use>
        </svg>
        <svg class="icon-left-two" width="20" height="20">
          <use href="../img/icon-sprite.svg#icon-arrow-left"></use>
        </svg>
      </div>
    </button>
    <button class="second-btn-pag">
      <svg class="icon-pagination-left" width="20" height="20">
        <use href="../img/icon-sprite.svg#icon-arrow-left"></use>
      </svg>
    </button>
  </div>
  <div class="middle-btns-pag">
    <button class="third-btn-pag">1</button>
    <button class="fourth-btn-pag">2</button>
    <button class="fifth-btn-pag">3</button>
    <button class="sixth-btn-pag">...</button>
  </div>
  <div class="right-btns-pag">
    <button class="seven-btn-pag">
      <svg class="icon-pagination-right" width="20" height="20">
        <use href="../img/icon-sprite.svg#icon-arrow-right"></use>
      </svg>
    </button>
    <button class="eigth-btn-pag">
      <div class="pagination-icon">
        <svg class="icon-pagination-right" width="20" height="20">
          <use href="../img/icon-sprite.svg#icon-arrow-right"></use>
        </svg>
        <svg class="icon-pagination-right" width="20" height="20">
          <use href="../img/icon-sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </button>
  </div>
</div>
