<div class="backdrop__rating is-hidden1">  <!--is-hidden1 -->
    <div class="rating__modal">
      <form class="rating__form">
        <label class="rating-text">Rating</label>
        <div class="rating__wrap  set__rating">
          <p class="rating__value">0.0</p>
          <div class="star__wrap">
            <svg class="rating__icon" width="24" height="24">
              <use href="/img/icon-sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon" width="24" height="24">
              <use href="/img/icon-sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon" width="24" height="24">
              <use href="/img/icon-sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon" width="24" height="24">
              <use href="/img/icon-sprite.svg#icon-star"></use>
            </svg>
            <svg class="rating__icon" width="24" height="24">
              <use href="/img/icon-sprite.svg#icon-star"></use>
            </svg>
          </div>
          <div class="radio__wrap">
            <input type="radio" class="rating__radio" value="1" name="rating" />
            <input type="radio" class="rating__radio" value="2" name="rating" />
            <input type="radio" class="rating__radio" value="3" name="rating" />
            <input type="radio" class="rating__radio" value="4" name="rating" />
            <input type="radio" class="rating__radio" value="5" name="rating" />
          </div>
        </div>
        <input
          class="rating__input"
          type="email"
          name="email"
          placeholder="Enter email"
          required
        />
        <button class="rating__submit" type="submit">Send</button>
        <button class="close__rating__btn" id='close-btn-id' type="button">
          <svg class="close__icon" width="24" height="24">
            <use href="/img/icon-sprite.svg#icon-x-close"></use>
          </svg>
          </div>
         </div>
          </button>
    </form>
  </div>
</div>