.burger-menu {
  background-color: var(--additional-text-color);
  position: fixed;
  top: 0;
  left: calc(100vw - 200px);
  width: 200px;
  height: 100vh;
  z-index: 999;
  overflow-y: auto;
  transform: translateX(200%);
  transition: var(--transition-dur-and-func);
}

.burger-menu.is-open {
  transform: translateX(0);
}

.burger-menu-close {
  width: 32px;
  height: 32px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 0;
}
.burger-menu-icon {
  stroke: #f8f8f8;
}
.burger-menu-nav-link {
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 400;
}
.burger-active {
  color: #fff;
  font-weight: 500;
}
.burger-menu-nav {
  text-align: center;
  margin-top: 200px;
}

.burger-menu-nav-home {
  margin-bottom: 16px;
}
.burger-menu-nav-favorites {
  font-size: 12px;
}
.theme-switch__control.switcher-burger-btn {
  display: block;
  align-items: center;
  width: 46px;
  height: 20px;
  border-radius: 20px;
  padding: 1px 0;
  position: fixed;
  bottom: 20px;
  left: 20px;
}
/* .theme-switch__toggle.burger-toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}
.burger-track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #cecdcd;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}
.burger-marker {
  position: relative;
  background-color: #f8f8f8;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  transform: translateX(1px);
  transition: var(--transition-dur-and-func);
}
.theme-switch__toggle.burger-toggle:checked
  + .theme-switch__track.burger-track {
  background-color: var(--additional-text-color);
}
.theme-switch__toggle.burger-toggle:checked
  ~ .theme-switch__track.burger-track {
  transition: var(--transition-dur-and-func);
  transform: translateX(27px);
} */
/* .theme-switch__toggle:checked + .burger-track {
  transition: var(--transition-dur-and-func);
  background-color: var(--additional-text-color);
}
.theme-switch__toggle:checked ~ .burger-track {
  transition: var(--transition-dur-and-func);
  transform: translateX(27px);
} */
