.all-categores-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 18px;
    height: 198px;
    width: 326px;
    overflow-y: scroll;
    padding-right: 10px;
    margin-bottom: 40px;
}

@media only screen and (min-width: 768px) {
    .all-categores-container {
        margin-bottom: 64px;
        width: 176px;
        height: 416px;
        gap: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .all-categores-container {
        width: 235px;
        height: 416px;
    }
}

.all-categores-container::-webkit-scrollbar {
    width: 8px;
}

.all-categores-container::-webkit-scrollbar-thumb {
    background: rgba(5, 5, 5, 0.18);
    height: 116px;
    border-radius: 12px;
}

@media only screen and (min-width: 768px) {
    .all-categores-container {
        height: 400px;
        width: 176px;
    }
}

@media only screen and (min-width: 1280px) {
    .all-categores-container {
        width: 235px;
    }
}

.all-categories-button {
    display: block;
    padding: 14px 29px;
    border-radius: 15px;
    border: 1px solid rgba(5, 5, 5, 0.2);
    margin-bottom: 24px;
    color: var(--filters-main-color);
    font-size: 18px;
}

@media only screen and (min-width: 768px) {
    .all-categories-button {
        margin-bottom: 30px;
        margin-top: 22px;
    }
}

@media only screen and (min-width: 1280px) {
    .all-categories-button {
        margin-bottom: 42px;
    }
}

.all-categories-button:hover,
.all-categories-button:focus {
    background-color: var(--additional-text-color);
    color: var(--main-light-text-color);
}

.categories-list-element {
    color: var(--filters-select-color);
    width: 100%;
    padding-left: 20px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}

@media only screen and (min-width: 768px) {
    .categories-list-element {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
    }
}

.categories-list-element:hover,
.categories-list-element:focus {
    color: var(--additional-text-color);
}