.dark-theme {
  background-color: #1e1e1e;
  color: var(--dark-main-text-color);
}
.dark-theme .header-section {
  background-color: #1e1e1e;
}
.dark-theme .main-link {
  color: var(--dark-main-text-color);
}
.dark-theme .main-link.heder-active {
  color: var(--additional-text-color);
}
.dark-theme .logotype {
  color: var(--dark-main-text-color);
}
.dark-theme .icon-cart {
  fill: var(--dark-main-text-color);
}
.dark-theme .icon-cart:hover,
.dark-theme .icon-cart:focus {
  fill: var(--additional-text-color);
}
.dark-theme .burger-menu-btn {
  stroke: var(--dark-main-text-color);
}
.dark-theme .burger-active {
  color: var(--additional-text-color);
}
.dark-theme .burger-menu {
  background-color: var(--main-dark-text-color);
}
.dark-theme .hero-title {
  color: var(--dark-main-text-color);
}
.dark-theme .hero-text {
  color: var(--dark-main-text-color);
}
.dark-theme .hero-btn {
  background-color: #1e1e1e;
  color: var(--dark-main-text-color);
}
.dark-theme .modal-order-now {
  background-color: var(--main-dark-text-color);
}
.dark-theme .form-label {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .form-field {
  color: #fff;
  background-color: var(--main-dark-text-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-theme .modal-textarea {
  color: #fff;
  background-color: var(--main-dark-text-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-theme .modal-close-icon {
  stroke: var(--dark-main-text-color);
}
.dark-theme .slide-preview {
  border: 1px solid rgba(155, 181, 55, 0.3);
}

/* ...filters */
.dark-theme .filter-input {
  background-color: #1e1e1e;
  color: var(--dark-main-text-color);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-theme .filter-icon-input {
  fill: rgba(255, 255, 255, 0.5);
}
.dark-theme .filter-close-input {
  stroke: var(--dark-main-text-color);
}
.dark-theme .filter-select {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-theme .filter-title {
  color: rgba(255, 255, 255, 0.5);
}
.dark-theme .filter-reset-button {
  color: rgba(255, 255, 255, 0.5);
}

.dark-theme .all-categories-button {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.dark-theme .categoreis-list-element {
  color: rgba(255, 255, 255, 0.3);
}
.dark-theme .categoreis-list-element:hover,
.dark-theme .categoreis-list-element:focus {
  color: var(--additional-text-color);
}
.dark-theme .all-categores-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.18);
}
.dark-theme .title-popular-recipes {
  color: var(--dark-main-text-color);
}
.dark-theme .title-third {
  color: var(--dark-main-text-color);
}

.dark-theme .popular-description {
  color: rgba(255, 255, 255, 0.8);
}

.dark-theme .recipe-modal {
  background-color: var(--main-dark-text-color);
}
.dark-theme .button__close {
  stroke: var(--dark-main-text-color);
}
.dark-theme .modal-title {
  color: var(--dark-main-text-color);
}
.dark-theme .instructions {
  color: rgba(255, 255, 255, 0.8);
}
.dark-theme .add-btn {
  background-color: var(--main-dark-text-color);
  color: var(--dark-main-text-color);
}

.dark-theme .nav-link-favorites {
}
.dark-theme .category-button {
  color: #ffffff4d;
  background-color: #1e1e1e;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-theme .category-button:hover,
.dark-theme .category-button:focus {
  background-color: var(--additional-text-color);
  color: #fff;
}

/* modal-recipe */
.dark-theme .blok-recipes {
  background-image: radial-gradient(
    1deg,
    #050505 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
}
/* pagination */
.dark-theme #pagination > a:nth-child(2) {
  color: #fff;
}
.dark-theme #pagination > a:nth-child(4) {
  color: #fff;
  border: 1px solid #3c3b3b;
}
.dark-theme #pagination > strong {
  color: #fff;
}
.dark-theme .tui-pagination .tui-page-btn {
  background-color: #1e1e1e;
  color: #fff;
}
.dark-theme .tui-pagination .tui-ico-ellip {
  color: #fff;
}
/* ////rating */
.dark-theme .rating__modal {
  background-color: #050505;
}
.dark-theme .rating__icon {
  fill: #3c3b3b;
}
.dark-theme .active__star {
  fill: #eea10c;
}
.dark-theme .rating__input {
  color: #fff;
  background-color: #050505;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dark-theme .close__icon {
  stroke: #fff;
}
