
.filters-conteiner{
    max-width: 335px;
    margin-bottom: 14px;
}
.filter-form{
display: flex;
flex-wrap: wrap;
column-gap: 14px;
row-gap: 14px;
margin-bottom: 14px;
}
.filter-is-hidden{
    display: none;
}
/* ---------------------------------------------------- */
/* section input */
/* ---------------------------------------------------- */
.filter-container-input{
position: relative;
width: 335px;
display: flex;
}
.div-input{
width: 100%;
max-height:68px ;
    /* min-width: 278px; */
}
.filter-input{
    width:100%;
    height: 20px;

    padding: 14px 18px 14px 48px;

    border: 1px solid var(--filters-select-color);
    border-radius: 15px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.29;
}
.filter-input:hover,
.filter-input:focus{
    color: var( --dark-popular-recipes-color);
    font-size: 16px;
    line-height: 1.25;
    outline: none;
}

.filter-icon-input{
    fill: var(--filters-main-color);

    width: 18px;
    height: 18px;

    position: absolute;

    top: 50%;
    left: 18px;

    transform: translateY(-50%);
}
.filter-input:focus + .filter-icon-input {
    fill: var(--additional-text-color);
    transition: 300ms;
  }
  .filter-close-input{
    stroke: var(--dark-popular-recipes-color);

    width: 18px;
    height: 18px;

    position: absolute;

    top: 50%;
    right: 18px;
    transform: translateY(-50%);
  }
/* ------------------------------------------------------------*/
/* section select*/ 
/* ------------------------------------------------------------*/
.filter-container-time{
    width: 160px;
}
.filter-container-area{
    width: 160px;
}
.filter-container-ingredients{
    width: 188px;
}
.filter-title{
    font-size: 12px;
    line-height: 1.16;
    margin-bottom:8px ;
}
.filter-select{
    width: 100%;
    max-height: 48px;
    padding:14px 18px 14px 18px;

    border: 1px solid var(--filters-select-color);
    border-radius: 15px;

    color: var( --filters-select-color);
}
.filter-div-reset{
    display: flex;
    max-height: 16px;
    column-gap: 4px;
    justify-content: flex-end
}
.filter-svg-reset{
width: 16px;
height: 16px;
stroke: var(--additional-text-color);
}
.filter-reset-button{
    padding: 0;
    color: var(--filters-main-color);
    font-size: 12px;
    line-height: 1.33;
}




@media screen and (min-width: 768px) {
    .filters-conteiner{
        max-width: 496px;
    }
    .filter-form{
        column-gap: 16px;
    }
    .filter-container-input{
        flex-wrap: wrap;
        max-width: 278px;
    }
    .div-input{
        width: 278px;
    }
    .filter-input{
        width: 278px;
    }
    /* ------------------------------------------- */
    /* selects */
    /*-------------------------------------------- */
    .filter-container-time{
        width: 125px;
    }
    .filter-container-area{
        width: 140px;
    }
}
@media screen and (min-width: 1280px) {
    .filters-conteiner{
        max-width: 782px;
    }
}
