.nav {
  display: none;
}

.main-link:hover,
.main-link:focus {
  color: var(--additional-text-color);
}
.logotype {
  color: var(--main-dark-text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.13;
  letter-spacing: -0.64px;
  text-decoration: none;
}

.tasty {
  color: var(--additional-text-color);
}

.cart-btn {
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  padding: 0;
}

.icon-cart {
  width: 100%;
  height: 100%;
  fill: var(--main-dark-text-color);
}
.icon-cart:hover,
.icon-cart:focus {
  stroke: var(--additional-text-color);
  fill: var(--additional-text-color);
}
.burger-menu-btn {
  width: 32px;
  height: 32px;
  stroke: var(--main-dark-text-color);
  border: none;
  background-color: transparent;
  padding: 0;
}

.icon-burger-menu {
  width: 100%;
  height: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 44px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 14px;
}

@media screen and (min-width: 768px) {
  .nav {
    display: block;
  }

  /* .switcher-btn {
    display: block;
  } */

  .burger-menu-btn {
    display: none;
  }

  .header-container {
    padding-top: 28px;
    padding-bottom: 44px;
  }

  .nav-list {
    display: flex;
    gap: 16px;
  }

  .nav-link-home {
    color: var(--additional-text-color);
    font-size: 12px;
    font-weight: 500;
  }

  .nav-link-favorites {
    color: var(--main-dark-text-color);
    font-size: 12px;
  }

  .logotype {
    font-size: 18px;
    line-height: 1.11;
    letter-spacing: -0.72px;
  }
  .icons {
    gap: 18px;
  }
}

@media screen and (min-width: 1280px) {
  .header-container {
    /* ///// */

    padding-top: 40px;
    padding-bottom: 40px;
  }
  .icons {
    gap: 24px;
  }
}

.main-link {
  position: relative;
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.33;
  color: var(--main-dark-text-color);
  transition: var(--transition-dur-and-func);
}

.main-link:hover,
.main-link:focus {
  transition: var(--transition-dur-and-func);
  color: var(--additional-text-color);
}

.main-link.heder-active {
  color: var(--additional-text-color);
}

/* ///////switcher */

/* .switcher-btn {
  position: relative;
  padding: 0;
  border-radius: 20px;
  border: none;
  background-color: #cecdcd;
  box-shadow: 6px 4px 8px 2px rgba(95, 92, 92, 0.2);
}
.icon-rectangle,
.icon-ellipse {
  display: block;
}
.icon-rectangle {
  fill: #cecdcd;
}

.icon-ellipse {
  position: absolute;
  top: 0;
  left: 0;
  fill: #f8f8f8;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

.icon-ellipse.move-right {
  transform: translateX(27px);
}
.icon-ellipse.move-left {
  transform: translateX(0);
} */

/* important */
.theme-switch__control {
  display: none;
}
@media only screen and (min-width: 768px) {
  .theme-switch__control.hed-switch {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 46px;
    height: 20px;
    border-radius: 20px;
    padding: 1px 0;
  }
}

.theme-switch__toggle {
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  height: 0;
  width: 0;
  pointer-events: none;
}
.theme-switch__track {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: transparent;
  user-select: none;
  background-color: #cecdcd;
  border-radius: inherit;
  z-index: 1;
  cursor: pointer;
}
.theme-switch__marker {
  position: relative;
  background-color: #f8f8f8;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  transform: translateX(1px);
  transition: var(--transition-dur-and-func);
}
.theme-switch__toggle:checked + .theme-switch__track {
  transition: var(--transition-dur-and-func);
  background-color: var(--additional-text-color);
}
.theme-switch__toggle:checked ~ .theme-switch__marker {
  transition: var(--transition-dur-and-func);
  transform: translateX(27px);
}

/* not */
