.hero-container {
  overflow-x: hidden;
}
.hero-slider {
  width: 375px;
  padding-right: 0;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  padding-left: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-slider {
    width: 768px;
    padding-left: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-slider {
    width: 702px;
    padding-left: 0;
  }
}
.swiper {
  margin-top: 48px;
  width: 497px;
  height: 320px;
}
@media only screen and (min-width: 768px) {
  .swiper {
    margin-top: 64px;
    width: 871px;
    height: 486px;
  }
}
@media only screen and (min-width: 1280px) {
  .swiper {
    margin: 0;
  }
}
.swiper-pagination {
  margin-top: 50px;
}
.my-swiper .swiper-pagination-bullet-active {
  margin-top: 20px;
  background-color: var(--additional-text-color);
}
/* .custom-pagination.swiper-pagination-lock {
  display: block;
} */
.slide-cont {
  display: flex;
  gap: 8px;
}
@media only screen and (min-width: 768px) {
  .slide-cont {
    gap: 16px;
  }
}

/* first card */
.slide-chef {
  width: 80px;
  height: 280px;
}
@media only screen and (min-width: 768px) {
  .slide-chef {
    width: 137px;
    height: 442px;
  }
}
.slide-chef-img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* second card */
.slide-preview {
  position: relative;
  width: 200px;
  height: 280px;
  border-radius: 15px;
  background-color: var(--main-dark-text-color);
  background-image: url(/src/img/icon-sprite.svg#);
  background-size: cover;
}
@media only screen and (min-width: 768px) {
  .slide-preview {
    width: 351px;
    height: 442px;
  }
}
/* .icon-shadov-mob {
  position: absolute;
  top: 15%;
}
@media only screen and (min-width: 768px) {
  .icon-shadov-mob {
    top: 25%;
    left: 25%;
  }
} */
.slide-preview-img {
  /* object-fit: contain; */
  width: 157px;
  height: 142px;
  display: block;
  margin-top: 56px;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (min-width: 768px) {
  .slide-preview-img {
    width: 304px;
    height: 271px;
    margin-top: 67px;
  }
}
.preview-text {
  margin-top: 20px;
}
@media only screen and (min-width: 768px) {
  .preview-text {
    margin-top: 32px;
  }
}
.preview-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  /* margin-top: 20px; */
  padding-left: 21px;
  padding-right: 21px;
  color: var(--light-main-hero-image-color);
  text-align: center;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 140% */
  text-transform: uppercase;
}
@media only screen and (min-width: 768px) {
  .preview-title {
    font-size: 14px;
    line-height: 18px; /* 128.571% */
  }
}
.preview-country {
  color: var(--light-secondary-hero-image-color);
  text-align: center;
  font-family: Inter;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px; /* 150% */
}
@media only screen and (min-width: 768px) {
  .preview-country {
    font-size: 12px;
    line-height: 14px;
  }
}
.preview-country {
  color: rgba(248, 248, 248, 0.2);
  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}

/* third pcard */
.slide-dish {
  overflow: hidden;
  width: 200px;
  height: 280px;
  border-radius: 15px;
  background-color: var(--main-dark-text-color);
}
@media only screen and (min-width: 768px) {
  .slide-dish {
    width: 351px;
    height: 442px;
  }
}

.slide-dish-img {
  /* transform: translateX(50%); */
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
