.recipe-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;

  width: 100%;
  height: 100%;

  background-color: var(--light-main-hero-image-color);
  backdrop-filter: blur(5px);
}

.recipe-modal {
  background-color: var(--dark-main-text-color);
  width: 335px;

  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  scrollbar-width: none;
  z-index: 99;
  height: 95vh;
}

@media only screen and (min-width: 768px) {
  .recipe-modal {
    width: 531px;
    max-height: 905px;
  }
}

@media only screen and (min-width: 768px) {
  .recipe-modal::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.modal-close-recipe-btn {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  cursor: pointer;

  transition: background-color var(--transition-dur-and-func);
}

@media only screen and (min-width: 768px) {
  .modal-close-recipe-btn {
    top: 16px;
    right: 16px;
  }
}

.button__close {
  width: 20px;
  height: 20px;

  justify-content: center;
  align-items: center;
  stroke: var(--main-dark-text-color);
}
@media only screen and (min-width: 768px) {
  .button__close {
    width: 24px;
    height: 24px;
  }
}

.button__close:hover,
.button__close:focus {
  stroke: var(--additional-text-color);
}

.is-hidden-recipe-backdrop {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-recipe-image {
  margin: 40px 20px 14px;
  width: 295px;
  height: 295px;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .modal-recipe-image {
    width: 467px;
    height: 250px;

    display: block;
    object-fit: cover;
    margin: 16px 32px;
  }
}

.modal-title {
  margin: 20px 20px 14px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.22;

}
@media only screen and (min-width: 768px) {
  .modal-title {
    margin: 32px 0 0 32px;
    line-height: 1.22;
  }
}

.instructions {
  margin-bottom: 32px;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
}

.add-btn {
  margin: 40px 0 40px 20px;
  padding: 12px 24px;
  justify-content: center;
  font-family: Inter;
  border-radius: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  border: 1px solid var(--additional-text-color);
  color: var(--main-dark-text-color);
}

@media only screen and (min-width: 768px) {
  .add-btn {
    padding: 14px 28px;
    margin: 32px 0 32px 32px;
  }
}
@media (hover: hover) {
  .add-btn:hover,
  .add-btn:focus {
    background-color: var(--additional-text-color);
    color: var(--main-light-text-color);
  }
}
@media not (hover: hover) {
  .add-btn:active {
    background-color: var(--additional-text-color);
    color: var(--main-light-text-color);
  }
}

.btn-rating {
  margin: 20px 0 20px 9px;
  padding: 12px 24px;
  justify-content: center;
  font-family: Inter;
  border-radius: 15px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.21;
  border: 1px solid var(--additional-text-color);
  color: var(--main-dark-text-color);
}

@media only screen and (min-width: 768px) {
  .btn-rating {
    padding: 14px 28px;
    margin: 32px 0 32px 11px;
  }
}
@media (hover: hover) {
  .btn-rating:hover,
  .btn-rating:focus {
    background-color: var(--additional-text-color);
    color: var(--main-light-text-color);
  }
}
@media not (hover: hover) {
  .btn-rating:active {
    background-color: var(--additional-text-color);
    color: var(--main-light-text-color);
  }
}

.block-info {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-bottom: 0;
  /* margin: 14px 0 33px 20px; */
  justify-content: space-between;
  margin-bottom: 32px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin: 0 20px 14px;
}
@media only screen and (min-width: 768px) {
  .tags {
    margin-bottom: 0;
    margin: 0 32px ;
  }
}

.title-tags {
  border: 1px solid #05050533;
  border-radius: 35px;
  padding: 8px 16px;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.16;
}

.rating {
  display: flex;
  text-align: center;
  padding: 8px 0;
}

.time {
  display: block;
  text-align: center;
  /* padding: 8px 16px; */
}

.block-time {
  display: flex;
  text-align: center;
  font-size: 14px;
  line-height: 1.28;
  font-style: normal;
  font-weight: 400;
  color: var(--filters-main-color);
  margin: 0 20px 33px 20px;
}
@media only screen and (min-width: 768px) {
  .block-time {
    margin: 0 32px;
  }
}

.ingredients {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 40px;
  line-height: 1.28;
}
@media only screen and (min-width: 768px) {
  .ingredients {
    margin-bottom: 32px;
  }
}

.title-ingredients {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  margin: 0 20px 0;
  border-bottom: 1px solid rgba(5, 5, 5, 0.1);
  font-weight: 400;
}
@media only screen and (min-width: 768px) {
  .title-ingredients {
    margin: 0 32px 0;
  }
}

.measure {
  color: var(--filters-main-color);
}

.instructions {
  font-weight: 400;
  color: var(--dark-popular-recipes-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  margin: 24px 20px 0;
  line-height: 1.28;
}
@media only screen and (min-width: 768px) {
  .instructions {
    margin: 40px 32px 0;
  }
}

.rating-value {
  margin-right: 6px;
}


/* .star{
display: flex;
gap: 1px;
} */
/* 
@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .block-stars {
   
    gap: -2px;
  }
}

.svg-stars {
  z-index: 10;
  fill: var(--star-color);
}
.svg-stars-active {
  fill: #eea10c;
} */
/* 
@media only screen and (min-width: 768px) {
  .icon-stars {
    width: 16px;
    height: 16px;
  }
} */


.dark-theme .measure {
  color: #fff;
}

.dark-theme .block-time {
  color: #fff;
}

.dark-theme .title-ingredients {
  border-bottom: 1px solid #ffffff1a;
}

.dark-theme .title-tags {
  border: 1px solid #ffffff33;
}

@media (hover: hover) {
  .dark-theme .add-btn:hover,
  .add-btn:focus {
    background-color: var(--additional-text-color);
  }
}
@media not (hover: hover) {
  .dark-theme .add-btn:active {
    background-color: var(--additional-text-color);
  }
}

.dark-theme .tags {
  color: #fff;
}

.dark-theme .title-ingredients {
  color: #fff;
}

.dark-theme .add-btn {
  color: #fff;
}
.dark-theme .btn-rating {
  color: #fff;
}

@media (hover: hover) {
  .dark-theme .btn-rating:hover,
  .add-btn:focus {
    background-color: var(--additional-text-color);
  }
}
@media not (hover: hover) {
  .dark-theme .btn-rating:active {
    background-color: var(--additional-text-color);
  }
}

/* ================ */

.star{
display: flex;
gap: 1px;
} 

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .block-stars {
   gap: -2px;
   margin-right: 8px;
  }
}


.star-icon-modal {
  fill: rgba(5, 5, 5, 0.1);
}

.star-color-icon-modal {
  fill: #eea10c;
}
