  #pagination{
    width: 100%;
    height: 40px;
    margin-top: 0;
    margin:0;
    margin-bottom: 80px;

    
}

/* перша кнопка зліва після кліку */
 #pagination > a.tui-page-btn.tui-first{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--main-dark-text-color);
    margin-right: 4px;
   
} 

/* спан після кліку */
 #pagination > a.tui-page-btn.tui-first > span{
   color: var(--main-light-text-color);
vertical-align:text-top; 
}
/* перша кнопка зліва коли вона неактивна */
 #pagination > span.tui-page-btn.tui-is-disabled.tui-first{
   width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--main-dark-text-color); 
    color:var(--filters-select-color);
    margin-right: 4px; 
    padding: 10px;

} 
/* спан першої кнопки */
 #pagination > span.tui-page-btn.tui-is-disabled.tui-first > span{
color: var(--main-light-text-color);
vertical-align:baseline; 
 } 
/* друга кнопка злшва після кліку */
 #pagination > a.tui-page-btn.tui-prev{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--main-dark-text-color); 
    margin-right: 8px;  
} 
 /* друга кнопка зліва */
#pagination > span.tui-page-btn.tui-is-disabled.tui-prev{
background-color: var(--main-dark-text-color);
}

/* спан другої кнопки після кліку */
#pagination > a.tui-page-btn.tui-prev > span{
    vertical-align: text-bottom;
}


/* активна кнопка */
#pagination > strong{
    background-color:var(--additional-text-color);
    border-radius: 50%;
    border: 1px solid  var(--additional-text-color);
    width: 40px;
    height: 40px;
    margin-right: 8px;
    font-weight: 600px;
    font-size:18px;
    line-height: 1.22;
    color: var( --main-dark-text-color);

}



/* кнопка'...'зліва після кліку */
#pagination > a.tui-page-btn.tui-prev-is-ellip.tui-first-child{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--filters-select-color--primary-bg-color); 
    margin-right: 4px; 
} 


 /* кнопка'...' справа при завантаженні */
#pagination > a.tui-page-btn.tui-next-is-ellip.tui-last-child{
     width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--filters-select-color--primary-bg-color); 
    margin-right: 8px; 
}
/* кнопка'...' зліва прихована при завантаженні */
#pagination > span.tui-page-btn.tui-is-disabled.tui-prev{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--filters-select-color--primary-bg-color); 
    margin-right: 4px; 
}
/* кнопка наступна сторінка */
#pagination > a.tui-page-btn.tui-next{
width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid  var(--additional-text-color);
    background-color: var(--additional-text-color);
    margin: 0; 
    margin-right: 4px; 
}


/* остання кнопка справа */
 #pagination > a.tui-page-btn.tui-last{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid  var(--additional-text-color);
    background-color: var(--additional-text-color); 
    
} 
/* остання кнопка справа */
#pagination > span.tui-page-btn.tui-is-disabled.tui-last{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid  var(--additional-text-color);
    background-color: var(--additional-text-color); 
    
}
/* передостання кнопка */
#pagination > span.tui-page-btn.tui-is-disabled.tui-next{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid  var(--additional-text-color);
    background-color: var(--additional-text-color); 
    margin-right: 4px;
}
/* кнопка з цифрою неактивна */
#pagination > a:nth-child(2){
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--filters-select-color--primary-bg-color); 
    margin-right: 8px;
    font-weight: 600px;
    font-size:18px;
    line-height: 1.22;
    color: var( --main-dark-text-color);
}

#pagination > a:nth-child(4){
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--filters-select-color--primary-bg-color); 
    margin-right: 8px;
    font-weight: 600px;
    font-size:18px;
    line-height: 1.22;
    color: var( --main-dark-text-color);
}

#pagination > a.tui-page-btn.tui-first-child{
    width: 40px;
    height: 40px; 
    border-radius: 50%;
    border: 1px solid var(--filters-select-color);
    background-color: var(--filters-select-color--primary-bg-color); 
    margin-right: 8px;
    font-weight: 600px;
    font-size:18px;
    line-height: 1.22;
    color: var( --main-dark-text-color);
}

/*  останній спан */
#pagination > span.tui-page-btn.tui-is-disabled.tui-last > span{
    color: var( --main-dark-text-color);
}
#pagination > a.tui-page-btn.tui-last{
    color: var( --main-dark-text-color);
}

/* останній спан */
#pagination > a.tui-page-btn.tui-last > span{
    vertical-align: text-top;

}
/* останній спан активний стан */
#pagination > span.tui-page-btn.tui-is-disabled.tui-last > span{
vertical-align: text-top;
}
/* передостанній спан */
#pagination > a.tui-page-btn.tui-next > span{
vertical-align: text-top;
}
/* передостанній спан активний */
#pagination > span.tui-page-btn.tui-is-disabled.tui-next > span{
    vertical-align: text-top;
}
/* друга кнопка */
#pagination > span.tui-page-btn.tui-is-disabled.tui-prev{
background-color: var( --main-dark-text-color);
}
/* другий спан */
#pagination > span.tui-page-btn.tui-is-disabled.tui-prev > span{
    vertical-align: text-top;
}

