.popular-recipes{
width: 335px;
height: 202px;
margin-bottom: 40px;
overflow: hidden;
}
@media only screen and (min-width: 768px) {
   .popular-recipes{
   width: 166px;
  height: 100%;
  margin-right: 32px;
  margin-bottom: 0;
  padding-right: 0;
   } 
}
@media only screen and (min-width: 1280px) {
  .popular-recipes{
   width: 221px;
   margin-right: 64px;
   margin-bottom: 0;
  }
}

.title-popular-recipes{
    font-weight: 600;
    font-size: 18px;
    line-height: 1.33;
    color: var(--main-dark-text-color);
    text-transform: uppercase;
    margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
    .title-popular-recipes{
        margin-bottom: 32px;
    }
}
@media only screen and (min-width: 1280px) {
    .title-popular-recipes{
        font-size: 24px;
        line-height: 1.17;
    }

}

.cards-popular-recipes{
    cursor: pointer;
}


.card-recipes{
    display: flex;
    overflow: hidden; 
    margin-bottom: 24px;
    
}
@media only screen and (min-width: 768px) {
    .card-recipes{
    margin-bottom: 16px;
    
}
}


.img-popular {
    border-radius: 8px;
     width: 64px;
     height: 64px;
     object-fit: cover;
     object-position: center;
     margin-right: 16px;
}
@media only screen and (min-width: 768px) {
    .img-popular {
        width: 48px;
        height: 48px;
        margin-right: 8px;
        
    }
}
@media only screen and (min-width: 1280px) {
    .img-popular {
      max-width: 64px; 
      height: 64px; 
      margin-right: 16px;
    }
}
.popular-title-description{
    width: 252px;
    
}
@media only screen and (min-width: 768px) {
   .popular-title-description{
    width: 120px;

   } 
}
@media only screen and (min-width: 1280px) {
    .popular-title-description{
    width: 155px;

   } 
}


.title-third {
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    line-height: 1.29;
    color:var(--main-dark-text-color);
    margin-bottom: 8px;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.popular-description {
    font-weight: 400;
    font-size: 12px;
    font-style: normal;
    line-height: 1.33;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap; 
   
    display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media only screen and (min-width: 768px) {
    .popular-description{
        font-size: 10px;
        line-height: 1.4;
        -webkit-line-clamp: 3;
    }
}



 
