.container-for-recipes {
  display: block;
}

@media only screen and (min-width: 768px) {
  .container-for-recipes {
    width: 496px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .container-for-recipes {
    width: 782px;
  }
}

.blok-recipes {
  margin-bottom: 24px;

  width: 335px;
  height: 335px;
  position: relative;
}

@media only screen and (min-width: 768px) {
  .blok-recipes {
    margin-bottom: 0;

    width: 240px;
    height: 264px;
  }
}

@media only screen and (min-width: 1280px) {
  .blok-recipes {
    width: 250px;
    height: 287px;
  }
}

.blok-recipes::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;

  background: transparent;
  background-image: linear-gradient(
    1deg,
    rgba(5, 5, 5, 0.6) 4.82%,
    rgba(5, 5, 5, 0) 108.72%
  );
  /* opacity: 0.8; */
}
.img-blok-recipes {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

.context-blok-recipes {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 303px;
  padding: 214px 16px 16px 16px;
}
@media only screen and (min-width: 768px) {
  .context-blok-recipes {
    padding-top: 143px;
    width: 208px;
  }
}

@media only screen and (min-width: 1280px) {
  .context-blok-recipes {
    padding-top: 166px;
    width: 218px;
  }
}

.title-blok-recipes {
  margin-bottom: 8px;

  color: #f8f8f8;
  font-size: 14px;
  width: 170px;

  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden; /* Обрезаем все, что не помещается в область */

  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-blok-recipes {
  margin-bottom: 22.5px;

  overflow: hidden;
  color: #f8f8f8;
  text-overflow: ellipsis;
  white-space: wrap;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.33;
}
@media only screen and (min-width: 768px) {
  .text-blok-recipes {
    margin-bottom: 16px;
  }
}

.num-stars-btn {
  width: 303px;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .num-stars-btn {
    width: 208px;
  }
}

@media only screen and (min-width: 1280px) {
  .num-stars-btn {
    width: 218px;
  }
}

.text-number-blok-recipes {
  color: #f8f8f8;
}

.blok-rating {
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .blok-rating {
    gap: 2px;
  }
}

@media only screen and (min-width: 1280px) {
  .blok-rating {
    gap: 4px;
  }
}
.btn-blok-recipes-see {
  padding: 8px 14px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 12px;
  color: #f8f8f8;
  border: none;
  border-radius: 8px;
  background: #9bb537;
}

.stars {
  width: 90px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  .stars {
    width: 72px;
    gap: -2px;
  }
}

.star-icon {
  z-index: 10;
  fill: var(--primary-bg-color);
}
.star-color-icon{
  fill: #eea10c;
}

@media only screen and (min-width: 768px) {
  .star-icon {
    width: 16px;
    height: 16px;
  }
}

/* .stars::after {
  content: ;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  color: #e2f609;
} */
/* ------------------------------------------- */
/* heart-icon-action____________________________________*/

.icon-heart-svg {
  z-index: 25;
  position: absolute;
  top: 0;
  right: 0;

  pointer-events: none;
  stroke: #f8f8f8;
  opacity: 0.5;
  width: 22px;
  height: 22px;

  fill: #ddddcc00;
}
.svg-active {
  fill: #f8f8f8;
  opacity: 1;
}

.heart-icon-elem {
  z-index: 23;
  opacity: 0; /* це щоб сховати input (галочку)*/
  position: absolute;
  right: 0;
  top: 0;
  height: 22px;
  width: 22px;
  margin: 16px 16px 0 0;
  /* pointer-events: none; */
}
.heart-icon-elem:checked + .heart-icon-action {
  fill: #f8f8f8;
  opacity: 1;
}
.heart-icon-action {
  z-index: 24;
  margin: 16px 16px 0 0;

  pointer-events: none;
  /* opacity: 0; */
  position: absolute;
  right: 0;
  top: 0;
  height: 22px;
  width: 22px;
  color: transparent;
  user-select: none;
  /* background-color: #bdaeae00; */
  border-radius: inherit;
  cursor: pointer;
}
